/* Reset some default styles */
body, h2, p, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    background-color: lightgray;
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  header {
    background-color: #000;
    padding: 20px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ffd700;
  }
  
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
  }
  
  .responsive-menu {
    display: none;
  }
  
  /* Main Styles */
  main {
    flex: 1; /* Allow the main content to take up the remaining vertical space */
    padding: 20px;
  }
  
  .form-container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-actions a {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
  }
  
  .form-actions a:hover {
    color: #ffd700;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #ffd700;
  }
  
  /* Footer Styles */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0; /* Prevent the footer from shrinking */
  }
  